<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/estilo.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
